.single-item {
  margin: 0.25rem;
  display: flex;
  flex-direction: row;
}

.ids {
  margin: 2rem;
  width: 2.5em;
  height: 2.5em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body::first-letter {
  text-transform: uppercase;
}
